@charset "utf-8";

@for $i from 1 through 1920{
  .w#{$i}{
    width: #{$i}px !important;
  }
  .h#{$i}{
    height: #{$i}px !important;
  }
  .p#{$i}{
    padding: #{$i}px !important;
  }
  .pl#{$i}{
    padding-left: #{$i}px !important;
  }
  .pr#{$i}{
    padding-right: #{$i}px !important;
  }
  .pt#{$i}{
    padding-top: #{$i}px !important;
  }
  .pb#{$i}{
    padding-bottom: #{$i}px !important;
  }

  .ml#{$i}{
    margin-left: #{$i}px !important;
  }
  .mr#{$i}{
    margin-right: #{$i}px !important;
  }
  .mt#{$i}{
    margin-top: #{$i}px !important;
  }
  .mb#{$i}{
    margin-bottom: #{$i}px !important;
  }

  .fs#{$i}{
    font-size: #{$i}px !important;
  }
  .fw#{$i}{
    font-weight: #{$i}!important;
  }

  .gap#{$i}{
    gap: #{$i}px!important;
  }

  .radius#{$i}{
    border-radius: #{$i}px!important;
  }
}

.row{
  display: flex;
}

.c4B465C{
  color: #4B465C;
}

.c7367F0{
  color: #7367F0;
}
.justify-center{
  justify-content: center;
}

.space-between{
  justify-content: space-between;
}


.w100p{
  width: 100% !important;
}

.h100p{
  height: 100% !important;
}
.mt-auto{
  margin-top: auto;
}

.m-auto{
  margin: 0 auto;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}